<div *ngIf="products.length; else noProducts">
  <div *ngFor="let product of products" class="product">
    <h2>{{ product.name }}</h2>
    <p>${{ product.price }}</p>
  </div>
</div>
<ng-template #noProducts>
  <p>No products found.</p>
</ng-template>
